@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-card: var(--card);
  --color-card-highlighted: var(--card-highlighted);
  --color-card-clicked: var(--card-clicked);
  --color-card-foreground: var(--card-foreground);

  --shadow-default: var(--shadow-2xl);
  --radius-default: var(--radius);
}

:root {
  --background: oklch(97% 0.001 106.424);
  --foreground: #000000;

  --primary: oklch(86.9% 0.005 56.366);
  --secondary: oklch(92% 0.004 286.32);

  --card: oklch(88.2% 0.059 254.128);
  --card-highlighted: oklch(80.9% 0.105 251.813);
  --card-clicked: oklch(70.7% 0.165 254.624);

  --radius: 1rem;
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;

  --primary: oklch(28.2% 0.091 267.935);
  --secondary: oklch(27.4% 0.006 286.033);

  --card: #141b25;
  --card-highlighted: oklch(31.831% 0.03576 249.036);
  --card-clicked: oklch(28.492% 0.04725 254.174);
  --card-foreground: #f8fafc;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);

    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}
