@using WebApp.Models.ViewModels
@model TodoTaskPageViewModel

<h1>@ViewData["Title"] task</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Instance.Id" />
    <input type="hidden" asp-for="Instance.TodoTaskId" />
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="Tags" />
    <input type="hidden" asp-for="SelectedTags" />
    <input type="hidden" asp-for="TaskTagId" />
    <input type="hidden" asp-for="TodoTaskPageId" />
    <input type="hidden" asp-for="Comments" />

    <div class="mb-3">
        <label asp-for="Instance.Description" class="form-label"></label>
        <input asp-for="Instance.Description" class="form-control" />
        <span asp-validation-for="Instance.Description"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Cancel"
       asp-route-returnUrl="@Model.ReturnUrl"
       class="btn btn-secondary">
        Cancel
    </a>
</form>